.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    background: #fff;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2{
    padding: 5%;
}
.login-form-3{
    background: #fff;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-3 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btn{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.btn-orange{
    background: orange;
}

.btn-purple{
    background: purple;
    color: #fff;
    width: 100%;
}

.btn-success, .btn-info{
    width: 100%;
}

.btn-info{
    color: #fff;
}

.tabla{
    width:100%;
}