.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
	padding-top: 70px !important;
	height: 400px;
}

.container-jumbotron {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.tabla{
    width: 100%;
    margin: auto; /*reemplazando align="center"*/
    text-align: center; /*Para que los textos siempre esten centrados*/
    border-collapse: collapse;
}

.tabla1{
    border-collapse:separate; 
    border-spacing: 0 7px;
}